{% extends "base.html" %}
{% block title %}História{% endblock %}
{% block base %}
    <section>
        <div class="offset-3 container">
            <div class="row">
                <h2 class="col-12">Timeline:</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-lg-left">
                        
                    </p>
                </div>
            </div>
            <br>
        </div>
    </section>

    {% block footer %}
    {% endblock %}
{% endblock %}
